.wrapper {
    margin: 0 auto;
    border: 2px solid #333;
    display: flex;
    background-color: #1a1a1a;
    height: 100vh;
    color: #e0e0e0;
    height: 100%;
}

.user {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 20%;
    border: 2px solid #2ecc71;
    background-color: #2d2d2d;
    height: 100%;
}

.chat {
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 80%;
    border: 2px solid #3498db;
    background-color: #2d2d2d;
    height: 100%;
}

.chat_field {
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: 2px solid #f1c40f;
    height: 90%;
    padding: 10px;
    background-color: #333333;
}

.input {
    margin: 10px 0px 10px 0px;
    border-radius: 10px;
    border: 2px solid #00bcd4;
    padding: 10px;
    height: 10%;
    background-color: #333333;
}