.wrapper {
    display: flex;
    margin: 10px;
    max-width: 70%;
}

.myMessage {
    align-self: flex-end;
    margin-left: auto; /* Сдвигает вправо */
    flex-direction: row-reverse; /* Меняет порядок элементов */
}

.otherMessage {
    align-self: flex-start;
    margin-right: auto; /* Сдвигает влево */
}

.images {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* Временный фон для иконки */
    margin: 0 10px;
}

.nickAndMessage {
    display: flex;
    flex-direction: column;
}

.nickname {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 14px;
}

.message {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

/* Стили для моих сообщений */
.myMessage .message {
    background-color: #007bff;
    color: white;
}

.myMessage .nickname {
    text-align: right;
}